# Data Analysis Skill Test - 4Intelligence

*   Diego Rosa | 03/07/2020

## Case 1 - TFP

In [8]:
import pandas as pd

In [10]:
tfp_df = pd.read_csv('TFP.csv')

In [11]:
tfp_df.head()

  isocode  year    rtfpna
0     USA  1950  0.617148
1     USA  1951  0.629588
2     USA  1952  0.638451
3     USA  1953  0.651858
4     USA  1954  0.646179

## Case 2 - Comex

In [14]:
import chardet

In [16]:
with open('data_comexstat.csv','rb') as f:
    result = chardet.detect(f.readline())

In [18]:
comex_df = pd.read_csv('data_comexstat.csv', encoding='cp1252')

In [19]:
comex_df

,date,product,state,country,type,route,tons,usd
0,1997-01-01,corn,ES,United States,Import,Sea,44.045,113029.0
1,1997-01-01,corn,GO,Argentina,Import,Ground,54.000,36720.0
2,1997-01-01,corn,GO,Bolivia,Export,Ground,0.200,180.0
3,1997-01-01,corn,GO,United States,Export,Sea,3.488,5688.0
4,1997-01-01,corn,MG,Argentina,Import,Ground,27.000,18630.0
...,...,...,...,...,...,...,...,...
117960,2019-12-01,wheat,SP,Argentina,Import,Sea,87124.765,17897516.0
117961,2019-12-01,wheat,SP,Ireland,Export,Sea,0.500,477.0
117962,2019-12-01,wheat,SP,Lebanon,Import,Sea,5.769,6726.0
117963,2019-12-01,wheat,SP,Liberia,Export,Other,0.025,50.0
117964,2019-12-01,wheat,SP,Marshall Islands,Export,Other,0.010,85.0